table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}
table tr:first-child td{
	border: none;
}
input[type=number] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #F39C12;
}